/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    /* .display-text{
        font-size: 42px !important;
      } */
    .logo{
      width: 130px;
      height: 36px;
    }
    .topHeading{
      font-size: 47px;
    }
    .slideText{
      font-size: 36px;
    }
    .wrongHeading{
      font-size: 47px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .display-text{
    font-size: 42px !important;
  }

 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
  .scResbutton-2{
    display: block;
  }
  .scResbutton{
    display: block;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 

 }

 