/* landing page Css */

*{
  font-family: 'Archivo', sans-serif;
}
/* navbar  */
.logo
{
    width: 203px;
    height: 56px;
}
.scButton{
    width:136px;
    height: 56px;
    font-size: 20px;
    color: #255DD8;
    -webkit-transition-duration: 0.5s;
    -webkit-transform-origin: 50% 50%;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 0px -50px 0 0 white inset , 0px 50px 0 white inset;

}

.scButton:hover{
  -webkit-box-shadow: 0px 0px 0 0px white inset , 0px 0px 0 0px white inset; 
  color: white;
  background-color:#255DD8 ;

}

.nav-link-2{
    color: white !important;
    font-size: 20px;

}
.scNav{
    margin-left: 8%;
    margin-right: 8%;
}
.scResbutton > i{ 
    color: white;
}

.scResbutton{
  background-color: transparent;
  border: none;
  font-size: x-large;
  display: none;
}
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

/* sideNav */

.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -60px;
    right: 0;
    left:0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidenav > img {
    margin-top: 4vh;
    margin-left: 12vw;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
    color: #255DD8;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #444242;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 4vw;
    right: 12vw;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* bg Video */
header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto ;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .cont {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .display-text{
    font-style: normal;
    font-weight: bold;
    font-size:4vw;
  }

  .scButton2{
      border: white 1px solid;
      background-color: transparent;
      color: white;
      width:265px;
      height: 65px;
      font-size: 20px;
      -webkit-transition-duration: 0.5s;
      -webkit-transform-origin: 50% 50%;
      -webkit-transition-timing-function: ease-out;
      -webkit-box-shadow: 0px -50px 0 0 transparent inset , 0px 50px 0 transparent inset;  
    }

  .scButton2:hover{
    -webkit-box-shadow: 0px 0px 0 0px white inset , 0px 0px 0 0px white inset; 
    color: #255DD8;
    background-color:white ;

  }
  .scText{
    margin-left: 12%;
    margin-right: 12%;
  }


  /* footer */
  .footer{
    position: absolute;
    bottom: 35px;
  }
  .footerText{
      color: white;      
  }
  .font{
    font-size:24px;
    color: white;
    margin-right: 5%;
  }
  .leftArrow{
    font-size:24px;
    color: white;
  }
  .font2{
    font-size:24px;
    color:black;
    margin-right: 5%;
  }

  /* landing page end */

  /* Signup page */

  .nav-link-3{
    color: #255DD8 !important;
  }

  .company{
    color: #255DD8 !important;
    float: right;
    padding: 0;

  }


  .scButton-2{
    width:126px;
    height: 56px;
    color: white;
    -webkit-transition-duration: 0.5s;
    -webkit-transform-origin: 50% 50%;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 0px -50px 0 0 #255DD8 inset , 0px 50px 0 #255DD8 inset;
}
.scButton-2:hover{
  -webkit-box-shadow: 0px 0px 0 0px white inset , 0px 0px 0 0px white inset; 
  color: #255DD8;
  border: 1px solid #255DD8;
  background-color:white ;
}
.scButton-grey{
  width:130px;
  min-width: 58px;
  height: 66px;
  color: black;
  background-color: #F7F8FC;
  border: none;
  -webkit-transition-duration: 0.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease-out;
  -webkit-box-shadow: 0px -50px 0 0 #F7F8FC inset , 0px 50px 0 #F7F8FC inset;
}
.scButton-grey:hover{
  -webkit-box-shadow: 0px 0px 0 0px white inset , 0px 0px 0 0px White inset; 
  color: white;
  border: 1px solid #255DD8;
  background-color:#255DD8 ;
}

.scResbutton-2 > i{ 
  color: #255DD8;
}
a{
  color: #255DD8;
  text-decoration: underline;
}

.scResbutton-2{
background-color: transparent;
border: none;
font-size: x-large;
display: none;
}

.scButton-lg{
  width: 130px;
  height: 66px;
  background-color: #255DD8  ;
  -webkit-transition-duration: 0.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease-out;
  -webkit-box-shadow: 0px -50px 0 0 #255DD8 inset , 0px 50px 0 #255DD8 inset;
}
.scButton-lg:hover{
  -webkit-box-shadow: 0px 0px 0 0px #255DD8 inset , 0px 0px 0 0px #255DD8 inset; 
  color: #255DD8;
  border: 1px solid #255DD8;
  background-color:white ;
}
.body{
  margin-left:12%;
  margin-right:12%;
}

/* form */
.input-group-text {

  background-color: #F7F8FC ;
  border: 1px solid #F7F8FC ;
  border-radius: none;
  padding-left: 30px;
}

.form-control {
  background-color: #F7F8FC ;
  border: 1px solid #F7F8FC ;

}
.topHeading{
  color: #255DD8; 
  font-weight: 600;
}

.wrongHeading{
  color: #FF3131; 
  font-weight: 600;
}

/* remember me */


.custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
  color: #000000;
}
.custom-control-input.is-valid~.custom-control-label::before, .was-validated .custom-control-input:valid~.custom-control-label::before {
  background-color: #f7f8fc;
}

.custom-control-input.is-valid:checked~.custom-control-label::before, .was-validated .custom-control-input:valid:checked~.custom-control-label::before {
  background-color: #255dd8;
}

/* welcome page */
.user{
  font-size: 20px; 
  margin-bottom: 0;
  margin-top: 0;
}

.boxText{
  background-color: #5A9BD5; 
  width: 352px ;
  height:390px;
  transition: background-color 1s ;
}
.boxText:hover{
  background-color: #255DD8 ;
}
.active{
  background-color: #255DD8;    
}

.slideText{
  font-family: Archivo;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 87px;
text-align: center;
color: #255DD8;
}
.slideDiv{
  height:70vh !important;
  background-color: #F7F8FC;
}